body{
  margin: 0;
  background-color: #c7c7c7;
  background-size: cover;    

}
.header{
  display: flex;
  justify-content: space-around;
  background: rgba(108, 108, 108, 0.456); /* fundo */
  padding: 9px;
  border: 4px solid #000;
}
.barber{
  width: 3rem;

}
header img{
  width: 10rem;
}
.barra_navegar{
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding-right: 4em;
  padding-left: 4em;
  height: 2em;
  align-items: center;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}
.barra_navegar a{
  text-decoration: none;
  color: black;
}
.barra_navegar a:hover{
  text-decoration: underline;
}




.meio{
  margin-left: 25%;
  margin-top: 10%;
  width: 30em;
  border-radius: 30px;
  background: linear-gradient(45deg,#000, #555555,#555555);  /* fundo */
  padding: 50px;
  border: 5px double white; /* borda */

}
.meiocadastro{
  height: 500px;
  margin: 10px;
  width: 400px;
  background-color: #ffffff; 
  border: 5px double black; /* borda */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.meio img{
  width: 15em;
}
.botao a{
  text-decoration: none;
  color: rgb(0, 0, 0);

}
.botao{
  border: 5px double black; /* borda */
  width: 300px;
  text-align: center;
  background-color: #ffffff; /* fundo */

}
.botao:hover{
  background-color: #f7f7f7 /* fundo */
}
.a_f1{
  border: 4px solid #000000 ; /* borda */
  border-radius: 30px;
  width: 23rem;
  text-align: center;
  background-color: #5555559c; /* fundo */
}
.a_f1:hover{
  border: 4px solid #000000 ; /* borda */
  background-color: #ffffff; /* fundo */
}
.a_f{
  padding: 1px;
  text-decoration: none;
  color: #ffffff;

}
.cadastro{
  margin: 0;
  background-color: #c7c7c7;
  background-size: cover;     
}

.cad{
  border-radius: 30px;
  background: linear-gradient(45deg,#878787, #555555,#878787);  /* fundo */
  border: 10px double white;
  padding: 30px;
  align-self: center; 
  justify-self: center;
  text-align: center;
  margin-top: 5em;
  width: 30em;
}

.input{
  text-align: left;
  padding: 0,1em;
}
.input input{
  background-color: black;
  color: #8c8c8c;
  height: 3em;
  width: 100%;
  border-radius: 1em;
  padding: 0.2em;
  border: 3px solid black;
}
.input h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3px;
  margin-left: 0.2em;
}
.input input:hover{
  border: 3px solid white;
}
.cad_botao{
  border: 4px solid #000; /* borda */
  text-align: center;
  border-radius: 20px;
  margin-top: 1em;
  padding: 9px;
  font-size: x-large;
  background-color: #fcfcfc; /* fundo */
}
.cad_botao:hover{
  border: 4px solid #ffffff; /* borda */
  cursor: pointer;
}


.input select{
  background-color: black;
  color: #8c8c8c;
  height: 3.8em;
  width: 20.7em;
  border-radius: 1em;
  padding: 0.2em;
  border: 3px solid black;
}
.input select:hover{
  border: 3px solid white;
}

.meio{
  text-align: center;
  color: white;
}
.consu_serv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.consu_serv input{
  background-color: black;
  color: #8c8c8c;
  height: 3em;
  width: 40em;
  border-radius: 1em;
  padding: 0.2em;
  border: 3px solid black;
}
.consu_serv button{
  border: 4px solid #000000 ; /* borda */
  border-radius: 30px;
  width: 10rem;
  text-align: center;
  background-color: #ffffff; /* fundo */
  margin: 1em;
  cursor: pointer;
}
.main_tabela{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.tabela_servico{
  background-color: #555555;
  width: 80em;
  padding: 1em;
  border: 8px double white;
  border-radius: 3em;
}
#tabelaServicos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tabelaServicos th{
  padding: 1em;
  background-color: #000000;
  width: 20em;
  text-align: center;
  font-size: 120%;
  border-radius: 1em;
  border: 3px solid black;
}
#tabelaServicos tbody tr td{
  background-color: #ffffff;
  padding: 1em;
  width: 20em;
  text-align: center;
  font-size: 120%;
  border-radius: 1em;
  border: 3px solid black;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* consulta cliente */
#tabelaClientes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tabelaClientes th{
  padding: 1em;
  background-color: #ffffff;
  width: 10em;
  text-align: center;
  font-size: 120%;
  border-radius: 1em;
  border: 3px solid black;
}
#tabelaClientes tbody tr td{
  background-color: #ffffff;
  padding: 1em;
  width: 10em;
  text-align: center;
  font-size: 120%;
  border-radius: 1em;
  border: 3px solid black;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* consulta profissionais */
#tabelaProfissionais{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tabelaProfissionais th{
  padding: 1em;
  background-color: #ffffff;
  width: 10em;
  text-align: center;
  font-size: 120%;
  border-radius: 1em;
  border: 3px solid black;
}
#tabelaProfissionais tbody tr td{
  background-color: #ffffff;
  padding: 1em;
  width: 10em;
  text-align: center;
  font-size: 120%;
  border-radius: 1em;
  border: 3px solid black;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* serviços */
.historico{
  display: flex;
  justify-content: center;
}
.hist{
  width: 80em;
  border-radius: 30px;
  background: linear-gradient(45deg,#878787, #555555,#878787);  /* fundo */
  border: 10px double white;
  padding: 30px;
  text-align: center;
  margin-top: 5em;
}
.hist_linha{
  border: double 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.hist_linha h3{
  width: 10em;
}
main{
  display: flex;
  justify-content: center;
}