* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.calendario-container {
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.mes-atual {
    display: flex;
    align-items: center;
}

.mes-atual select {
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
}

#ano {
    font-size: 16px;
}

.btn-anterior, .btn-proximo {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.btn-anterior:hover, .btn-proximo:hover {
    background-color: #45a049;
}

.semana-header {
    display: flex;
    background-color: #ddd;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.semana-header div {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.dias-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px 0;
    transition: opacity 0.3s ease-in-out;
}

.dias-container div {
    padding: 10px;
    border: 1px solid #eee;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.dias-container div:hover {
    background-color: #f1f1f1;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .calendario-container {
    background-color: #444;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode .calendario-header {
    background-color: #555;
}

.dark-mode .semana-header {
    background-color: #666;
}

.dark-mode .dias-container div {
    background-color: #555;
    border-color: #444;
}

.dark-mode .dias-container div:hover {
    background-color: #666;
}

.informacoes {
    margin-top: 20px;
    text-align: left;
}

#dia-atual {
    font-weight: bold;
}

#feriado {
    color: red;
    font-weight: bold;
}
